body {
    margin: 0;
}

textarea {
    border: 0;
    color: #333;
    cursor: text;
    display: block;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    min-height: 100vh;
    outline: 0;
    padding: 0;
    left: 0;
    right: 0;
    resize: none;
    tab-size: 4;
    width: 700px;
}
