body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 0;
}

.container {
    color: #333;
    margin: 0 auto;
    max-width: 700px;
    padding: 50px 15px 0;
}

#status {
    color: #a9a9a9;
    height: 18px;
    text-align: right;
    width: 100%;
}

.title {
    background: transparent;
    border: 0;
    color: inherit;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    height: 49px;
    outline: 0;
    margin: 8px 0;
}

textarea {
    border: 0;
    color: inherit;
    cursor: text;
    font-family: inherit;
    font-size: 18px;
    line-height: 26px;
    min-height: 70vh;
    outline: 0;
    padding: 0;
    resize: none;
    tab-size: 4;
    width: 100%;
}
